services:
  backend:
    build: ./backend
    container_name: saas-backend
    ports:
      - "8000:8000"
    environment:
      - ENV=dev
    volumes:
      - ./backend:/app

  frontend:
    build: ./frontend
    container_name: saas-frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
